* {
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  margin: 0px 0px 0px 0px;
  transition: all 200ms;
  scroll-behavior: smooth;
}

*::after,
*::before {
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  margin: auto;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  min-height: 100vh;
  width: min(100%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-family: "Work Sans", serif; */
  font-style: normal;
  font-family: var(--primary-font-family);
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  flex-direction: column;
  gap: 0px;
  background-color: hsl(0, 0%, 10%);
}

main {
  min-height: 100vh;
  width: min(100%, 100%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

#root {
  min-height: 100vh;
  width: min(100%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

:root {
  /* Existing light theme variables */
  --primary-font-family: "Liter", serif, sans-serif;
  --primary-font-color: hsl(0, 0%, 95%);
  --primary-darker-font-color: hsl(0, 0%, 20%);
  --primary-light-font-color: hsl(0, 0%, 50%);
  --primary-color: hsl(0, 0%, 5%);
  --primary-lighter-color: hsl(253, 100%, 80%);

  /* New dark theme variables */
  --dark-background: hsl(0, 0%, 10%);
  --dark-text: hsl(0, 0%, 90%);
  --dark-primary-color: hsl(253, 100%, 70%);
  --dark-secondary-color: hsl(253, 60%, 30%);
}


::-webkit-scrollbar {
  width: 0.4em;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: var(--primary-light-font-color);
  border-radius: 10em;
}

button:active {
  scale: 0.9;
}

input {
  outline-style: none;
}

/*  */
nav {
  min-height: 13vh;
  width: min(100%, 100%);
  display: flex;
  place-content: center;
  place-items: center;
  /* border: 1px solid red; */
}

nav :is(aside) {
  min-height: 13vh;
  width: min(90%, 90%);
  display: flex;
  place-content: center;
  place-items: center;
  /* border: 1px solid red; */
  flex-direction: row;
  flex-flow: row nowrap;
}

nav :is(aside)>article {
  min-height: 13vh;
  width: 35em;
  display: flex;
  place-content: flex-start;
  place-items: center;
  /* border: 1px solid red; */
  flex-direction: row;
  flex-flow: row nowrap;
  color: #fff;
}

nav :is(aside)>article :where(ul) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
  flex-direction: row;
  flex-flow: row nowrap;
  list-style: none;
}

nav :is(aside)>article :where(ul) a {
  text-decoration: none;
  color: #fff;
}

nav :is(aside)>a {
  text-decoration: none;
}

nav :is(aside)>a :where(button) {
  height: 3em;
  width: 10em;
  border: 1px solid #fff;
  border-radius: .3em;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

nav :is(aside)>article :where(span) {
  color: #fff;
  font-weight: bolder;
}

aside[class="dd-menu-component"] {
  height: 24em;
  width: min(90%, 20em);
  border: 1px solid hsl(0, 0%, 50%);
  background-color: var(--dark-background);
  position: fixed;
  top: 4em;
  right: .5em;
  border-radius: .5em;
  display: none;
}

aside[class="dd-menu-component"]>div[class="dd-menu-component-content-wrapper"] {
  min-height: 20em;
  width: min(90%, 90%);
  /* border: 1px solid red; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1em;
}

aside[class="dd-menu-component"]>div[class="dd-menu-component-content-wrapper"] article {
  height: 5em;
  width: min(100%, 100%);
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5em;
  flex-direction: column;
  background-color: hsl(0, 0%, 20%);
}

aside[class="dd-menu-component"]>div[class="dd-menu-component-content-wrapper"] article :is(div) {
  height: 5em;
  width: min(90%, 90%);
  /* border: 1px solid red; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: .2em;
}

aside[class="dd-menu-component"]>div[class="dd-menu-component-content-wrapper"] article :is(div)>span {
  font-size: 1.2em;
  font-weight: normal;
}

aside[class="dd-menu-component"]>div[class="dd-menu-component-content-wrapper"] article :is(div)>a {
  font-size: 1em;
  font-weight: normal;
  color: #fff;
}

aside[class="dd-menu-component"]>div[class="dd-menu-component-content-wrapper"]>ul {
  min-height: 15em;
  width: min(100%, 100%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.2em;
}

aside[class="dd-menu-component"]>div[class="dd-menu-component-content-wrapper"]>ul>li {
  list-style: none;
}

aside[class="dd-menu-component"]>div[class="dd-menu-component-content-wrapper"]>ul>li:is(:hover, :focus) {
  background-color: #000
}

aside[class="dd-menu-component"]>div[class="dd-menu-component-content-wrapper"]>ul>li :is(a) {
  list-style: none;
  text-decoration: none;
  color: #fff;
}



/*  */
header {
  min-height: 100vh;
  width: min(100%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  flex-direction: column;
}

header article[class="animation-wrapper"] {
  height: 60vh;
  width: min(90%, 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  flex-direction: column;
  gap: 1em;
}

header article[class="animation-wrapper"]>img {
  height: 30em;
  width: 50em;
  /* border: 1px solid red; */
}

header article[class="header-content-wrapper"] {
  min-height: 55vh;
  width: min(90%, 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  flex-direction: column;
  gap: 1em;
  text-align: center;
}

header article[class="header-content-wrapper"] :is(span) {
  font-size: 2.5em;
  font-weight: calc(200 + 100);
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-family: "Lilita One", serif;
  font-weight: calc(200 + 200);
  max-width: 23em;
}

header article[class="header-content-wrapper"] :is(p) {
  font-size: .9em;
  font-weight: normal;
  color: hsl(0, 0%, 60%);
  text-align: center;
  max-width: 50em;
}

header article[class="header-content-wrapper"] a {
  height: 3em;
  width: min(100%, 15em);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

header article[class="header-content-wrapper"] a :is(button) {
  height: 3.4em;
  width: 15em;
  border: none;
  border-radius: .3em;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  font-weight: bolder;
}

aside[class="header-alert-msg"] {
  height: 20vh;
  width: min(90%, 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid var(--primary-color); */
  background-color: hsl(0, 0%, 15%);
  flex-direction: column;
  gap: 1em;
  border-radius: .3em;
}

aside[class="header-alert-msg"] :is(div) {
  height: 15vh;
  width: min(90%, 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  border-radius: .3em;
}

aside[class="header-alert-msg"] :is(div) p {
  font-size: .9em;
  text-align: center;
  max-width: 50em;
  color: #fff;
}

/*  */
.service-warning-flag-wrapper-xyz {
  height: 4em;
  /* border: 1px solid red; */
  width: min(90%, 47em);
  background-color: hsl(0, 100%, 95%);
  display: none;
  justify-content: flex-start;
  align-items: center;
  border-radius: .3em;
}

.service-warning-flag-wrapper-xyz span {
  font-size: 1em;
  font-weight: normal;
  color: hsl(0, 0%, 20%);
  margin-left: 2em;
}

/*  */
.service-warning-flag-wrapper-abc {
  height: 4em;
  width: min(100%, 100%);
  /* border: 1px solid red; */
  background-color: hsl(0, 100%, 95%);
  display: none;
  justify-content: flex-start;
  align-items: center;
  border-radius: .3em;
}

.service-warning-flag-wrapper-abc span {
  font-size: 1em;
  font-weight: normal;
  color: hsl(0, 0%, 20%);
  margin-left: 2em;
}

/*  */
.loader-wrapper {
  min-height: 100vh;
  width: min(100%, 100%);
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  border: 1px solid rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

/*  */
.spinner {
  position: relative;
  width: 22.4px;
  height: 22.4px;
}

.spinner::before,
.spinner::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  animation: spinner-b4c8mmmd 0.5s backwards, spinner-49opz7md 1.25s 0.5s infinite ease;
  border: 5.6px solid #fff;
  border-radius: 50%;
  box-shadow: 0 -33.6px 0 -5.6px #fff;
  position: absolute;
}

.spinner::after {
  animation-delay: 0s, 1.25s;
}

@keyframes spinner-b4c8mmmd {
  from {
    box-shadow: 0 0 0 -5.6px #474bff;
  }
}

@keyframes spinner-49opz7md {
  to {
    transform: rotate(360deg);
  }
}

/*  */
aside[class="site-main-page-cookies-warning-component"] {
  min-height: 15em;
  width: min(100%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-color: var(--dark-background);
  border-top: 1px solid hsl(0, 0%, 20%);
  color: var(--primary-font-color)
}

aside[class="site-main-page-cookies-warning-component"]>article {
  min-height: 13em;
  width: min(90%, 90%);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid red; */
  color: var(--universal-primary-font-color);
  gap: .5em;
}

aside[class="site-main-page-cookies-warning-component"]>article :is(h1) {
  font-size: 3em;
  line-height: .9em;
}

aside[class="site-main-page-cookies-warning-component"]>article :is(h2) {
  font-size: 1.3em;
  font-weight: normal;
  font-style: normal;
}

aside[class="site-main-page-cookies-warning-component"]>article :is(p) {
  font-size: .9em;
  font-style: normal;
  font-weight: normal;
  text-align: left;
}

aside[class="site-main-page-cookies-warning-component"]>article :is(button) {
  height: 3em;
  width: min(100%, 10em);
  border: none;
  border-radius: .4em;
  color: #fff;
  background-color: var(--primary-color);
  cursor: pointer;
  font-weight: bold;
}

/*  */
.blank-redirect-page {
  min-height: 100vh;
  width: min(100%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  color: #fff;
  background-color: var(--dark-background)
}

.blank-redirect-page h1 {
  font-size: 2.2em;
  font-weight: normal;
  color: #fff;
}

/*  */
.logo {
  font-size: 1.5em;
  font-weight: bolder;
}

/*  */
aside[class="offline-card-component"] {
  min-height: 4em;
  width: 25em;
  border-radius: 10em;
  background-color: hsl(0, 0%, 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1em;
  position: fixed;
  bottom: 3em;
  box-shadow: 1px 1px 0px 2px var(--secondary-color-darker);
  cursor: alias;
}

aside[class="offline-card-component"]>span {
  font-size: 1.1em;
}

/*  */
aside[class="logout-form-component"] {
  min-height: 100vh;
  width: min(100%, 100%);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  /* border: 1px solid red; */
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
}

aside[class="logout-form-component"]>form {
  min-height: 40vh;
  width: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  border: 1px solid hsl(0, 0%, 30%);
  border-radius: 1em;
  background-color: hsl(0, 0%, 12%);
  color: #fff;
  text-align: center;
}

aside[class="logout-form-component"]>form :is(h1) {
  font-weight: normal;
}

aside[class="logout-form-component"]>form :is(p) {
  font-weight: normal;
  font-size: .8em;
  word-wrap: break-word;
  max-width: 30em;
}

aside[class="logout-form-component"]>form :is(input) {
  height: 3em;
  width: min(90%, 90%);
  border-radius: .3em;
  border: none;
  background-color: hsl(0, 0%, 50%);
}

aside[class="logout-form-component"]>form :is(input)::placeholder {
  color: #fff;
  margin-left: 1em;
}

aside[class="logout-form-component"]>form :is(button) {
  height: 3em;
  width: min(90%, 90%);
  border-radius: .3em;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  font-weight: bolder;
}

/* Dark theme styles */
.dark-theme {
  background-color: var(--dark-background);
  color: var(--dark-text);
}

.dark-theme body {
  background-color: var(--dark-background);
}

.dark-theme header article[class="header-content-wrapper"] :is(h1) {
  color: var(--dark-text);
}

.dark-theme header article[class="header-content-wrapper"] :is(p) {
  color: hsl(0, 0%, 70%);
}

.dark-theme header article[class="header-content-wrapper"] a :is(button) {
  background-color: var(--dark-primary-color);
  color: var(--dark-background);
}

.dark-theme aside[class="header-alert-msg"] {
  background-color: var(--dark-secondary-color);
}

.dark-theme footer {
  border-top-color: hsl(0, 0%, 30%);
  background-color: var(--dark-background);
}

.dark-theme footer article>aside :is(h1),
.dark-theme footer article>aside :is(ul) a {
  color: var(--dark-text);
}

.dark-theme footer div {
  background-color: hsl(0, 0%, 15%);
}

.dark-theme footer div :is(span) {
  color: hsl(0, 0%, 80%);
}

/*  */
.site-developer-navigation-component {
  height: 4em;
  width: 15em;
  position: fixed;
  bottom: 2em;
  right: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.site-developer-navigation-component>p {
  font-size: .9em;
  color: #fff;
  font-weight: normal;
}

.site-developer-navigation-component>a :where(img) {
  height: 3em;
  width: 3em;
  border-radius: 100%;
}

/*  */
footer {
  min-height: 55vh;
  width: min(100%, 100%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: hsl(0, 0%, 6%);
  flex-direction: column;
}

footer article {
  min-height: 38vh;
  width: min(90%, 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-flow: row nowrap;
  /* border: 1px solid red; */
  gap: .0em;
}

footer article>aside {
  min-height: 38vh;
  width: 25em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  /* border: 1px solid red; */
  gap: 1em;
  flex-grow: 1;
}

footer article>aside :is(h1) {
  font-size: 1.4em;
  font-weight: normal;
  color: hsl(0, 0%, 80%);
}

footer article>aside :is(ul) {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: .8em;
  flex-direction: column;
}

footer article>aside :is(ul) a {
  text-decoration: none;
  color: hsl(0, 0%, 70%);
}

footer article>aside :is(ul) a>li {
  list-style: none;
}

footer div {
  min-height: 8vh;
  width: min(100%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-flow: row wrap;
  border-top: 1px solid hsl(0, 0%, 40%);
  gap: .0em;
  background-color: hsl(0, 0%, 5%);
  text-align: center;
}

footer div :is(span) {
  font-size: .8em;
  color: hsl(0, 0%, 100%);
}